/* 全局公共样式，影响所有地方 */
._back {
    cursor: pointer;
    font-size: 21px;
    font-weight: 500;
}
._avater {
    width: 42px;
    height: 42px;
    border-radius: 7px;
}
.b_avater {
    width: 50px;
    height: 50px;
    border-radius: 7px;
}
.flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
}
._title {
    font-size: 15px;
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}
.default{
    cursor: default;
}