# dependencies  npm包文件
/chat/node_modules/
/server/node_modules/
# production  打包文件
# /chat/dist/
/server/config/emailConfig.js
# misc 
.DS_Store
*.idea
**/.idea
/moments/target
/moments/src/main/resources/application-dev.yml
npm-debug.log*
# 忽略deploy下的配置文件
**/deploy/serverInfo.js
**/server/config
**/*.iml
**/JWTConfig.java
**/server/config/*
**/oss/config/*
/moments/src/main/java/com/webpom/moments/config/JWTConfig.java
